<header class="header">
  <nav class="navbar">
    <div class="nav-brand">
      <a href="/">FetCiclos</a>
    </div>
    <ul class="nav-menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/cycles">Ciclos</a></li>
      <li><a href="/cycles/create">Crear Ciclo</a></li>
    </ul>
  </nav>
</header>
